#menu-drop-down {
  top: 60px !important;
  width: 200px !important;
}
.dropdown-content i.material-icons {
  position: absolute;
  top: 12px;
  left: 5px;
}

.dropdown-content li {
  position: relative;
  padding-left: 20px;
}

.dropdown-content li > a {
  display: inline-block;
}
