.App {
  text-align: center;
}
span.thick {
  font-weight: bold;
}
h6.thick-blue {
  font-weight: bolder;
  color: blue;
}
table,
th,
td {
  border: 0px solid black;
}

table.article-detail-tb {
  border-collapse: collapse;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
